.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  align-items: center;
}

.cryptoContainer {
  margin-left: 80px;
}

@media only screen and (min-width: 0px) and (max-width: 966px) {
  .container {
    flex-direction: column;
  }
  .cryptoContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 20px;
  }
}
